#hello {
  color: #f00;
  padding: 40px;
  background-color: #eee;
}
#center {
  padding: 40px;
}
#hello {
  opacity: 1;
}
.s2 {
}
.s2 #hello {
  transform: translateY(200px) rotateX(40deg) rotateY(40deg) rotateZ(40deg);
}
.s2 #center {
  background-color: #f00;
  opacity: 1;
}
.s3 {
}
.s3 #hello {
  transform: translateX(400px) translateY(200px) rotateX(40deg) rotateY(0deg) rotateZ(0deg);
}
.s4 {
}
.s4 #center {
  background-color: #008000;
}
.s4 #hello {
  transform: translateX(400px) translateY(-200px) rotateX(-40deg) rotateY(-80deg) rotateZ(-80deg);
}
.s5 {
}
.s5 #hello {
  color: #008000;
  transform: translateX(-400px) translateY(-200px) rotateX(-80deg) rotateY(0deg) rotateZ(0deg);
}
.s5 #center {
  border-radius: 120px;
  transform: rotate(90deg);
}
.s6 {
}
.s6 #hello {
  transform: translateX(-400px) translateY(200px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.s6 #center {
  transform: translateY(100px);
  transition-delay: 0.2s;
}
.s7 {
}
.s7 #hello {
  transform: translateX(0px) translateY(200px) rotateX(0deg) rotateY(-40deg) rotateZ(-40deg);
}
.s7 #center {
  transform: translateY(-50px);
}
.s8 {
}
.s8 #hello {
  transform: translateX(0px) translateY(0px) rotateX(-40deg) rotateY(-80deg) rotateZ(-80deg);
  color: #f00;
}
.s8 #center {
  opacity: 0;
  transform: translateY(-250px);
}
.s8 #sample {
  opacity: 1;
  transform: scaleX(0.5) scaleY(0.5);
}