body,html {
  height: 100%;
  width: 100%;
  padding:0;
  margin:0;
  background-color: black;
  perspective: 500px;
}
.hidden { opacity:0; }

symbol {
  background-color: rgba(200,200,200,0.2);
  padding:10px 40px;
  font-size: 120px;
  transform-style: preserve-3d;  
}

#center: hide;

.s2 { 
  #hello: down(200) rotate(40);
  
  #center {
    background-color:red;
    ::show;
  }
}
.s3 {
  #hello: right(400) rotate(+0,-40);
}
.s4 { 
  #center {
    background-color:green;
  }
  #hello: up(400) rotate(-80);
}
.s5 {
  #hello {
    color: green;
    ::left(500) rotate(-40,+80);
  }
  #center {
    border-radius: 120px;
    transform:rotate(90deg);
  }
}
.s6 {
  #hello: move(+0,+400) rotate(+80,+0);
  #center: move(100,100);
}
.s7 {
  #hello: move(+400) rotate(40,0);
  #center: move(50,+100);
}
.s8 {
  #hello {
    ::move(0,0) rotate(-40);
    color: red;
  }
  #center { opacity:0; };
}

